*{
    margin: 0;
    padding: 0; 
 }
body {
    background-image:url('images/1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
}
header{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    margin-bottom: 30px;
}
footer{
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 15px;
}
.chessboard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.box{
    width: 5vw;
    height: 5vw;
    text-align: center;
    font-size: 4vw;
    border: black 1px solid;
}
.white {
    background-position: center;
    background-color: #ffffff;
  }
.white:hover{
    cursor: pointer;;
    color:  rgba(73, 22, 240, 0.972);
    font-size: 4.3vw;
  }
.black{
    color: #ffffff;
    background-color:#696969; 
    color:black;
}
.black:hover{
    cursor: pointer;
    color: rgba(73, 22, 240, 0.972);
    font-size: 4.3vw;
}
.blank_white{
    background-color: #ffffff;
}
.blank_black{
    background-color:#696969;
}